body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
}

.no-scroll{
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
  outline: none!important;
}

.m-menu{
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
} 

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  outline: none  !important;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  padding-left: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.button-group {
  height: 100%;
}

.button {
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none  !important;
}

.sign-up {
  font-size: 18px;
  line-height: 21px;
  color: #5671f6;
  background-color: #fff;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #d4d4d4;
}

.log-in {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #5671f6;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.mobile-buttons{
  display: none;
}

.m-menu-button, .search-button{
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.menu-line{
  display: block;
  width:16px;
  height: 1px;
  background-color: #000;
  flex-basis: 16px;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 40px;

}


.container{
  max-width: 1130px;
  margin: auto;
}
.film{
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D4D4D4;
}

.film-wrapper{
  display: flex;

}
.film-trailer{
  display: flex;
  flex-direction: column;
}

.poster{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
width: 358px;
}

.play{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-radius: 0px 0px 5px 5px;
  padding-top:25px;
  padding-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  outline: none  !important;
}
.play-icon{
  margin-right: 14px;
}

.film-trailer{
  margin-right: 60px;

}

.film-title{
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #363636;
margin-top: 0;
margin-bottom: 16px;
}

.film-subtitle{
  font-size: 18px;
line-height: 21px;
color: #A5A5A5;
}

.film-description{
  font-size: 14px;
line-height: 150%;
color: #000000;
max-width: 514px;
margin-bottom: 50px;
}

.about-film{
  display: flex;
margin-bottom: 50px;
}

.about-text{
display: block;
margin-bottom: 16px;
}

.about-text-bold{
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.left-side{
  margin-right: 40px;
}

.rating{
  display: flex;
  align-items: center;
}

.rating-counter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #5671F6;
border-radius: 10px;
margin-right: 28px;
font-weight: bold;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #5671F6;
}

.rating-title{
  font-size: 18px;
line-height: 21px;
margin-top: 0;
font-weight: bold;
margin-bottom: 12px;
}

.rating-mark{
  display: block;
  margin-bottom: 7px;
  font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #363636;
}

.cast{
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title{
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #A5A5A5;
margin-left: 30px;
}

.section-title-active{
  color: #363636;
  font-weight: 900;
}

.tabs-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.card{
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 25px;
}
.card-img{
  width: 100px;
  height: 100px;
  border-radius:50%;
  object-fit: cover;
  margin-right: 20px;
}

.name{
Font-Style: Bold;
Font-Size: 16px;
Line-Height: 19px;
color: #5671F6;
margin-top: 0;
margin-bottom: 6px;
}

.en-name{
Font-Style: Regular;
color: #A5A5A5;
}

.news{
  background-color: #F3F3F3;
  padding-top: 70px;
  padding-bottom: 100px;
}

.cection-title{
  font-weight: 900;
  color: #000000;
  margin-bottom: 65px;
}

.news-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card{
  flex-basis: 17%;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius:5px;
}

.date{
font-size: 14px;
line-height: 16px;
color: #000000;
}

.news-text{
  font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;
color: #000000;
margin-top: 14px;
}

@media (max-width: 1200px) {
  
  .container{
    max-width: 960px;
  }

  .card-img{
    width: 70px;
    height: 70px;
  }

  .navigation-link{
    margin-right: 10px;
    font-size: 16px;

  }

  .navigation{
    margin-right: 0px;
  }

  .search-input{
    margin-left: 20px;
  }

  .sign-up,.log-in{
    padding-left: 20px;
    padding-right: 20px;
  }

  .header{
    height: 90px;
    padding-left: 20px;
  }
  
  .line{
    margin-left: 20px;
  }

}

@media (max-width: 992px) {
  
  .container{
    max-width: 760px;
  }

  .navigation{
    display: none;
  }

  .search-input{
    margin-right: auto;
  }

  .navigation-link{
    margin-left: 10px;
    font-size: 17px;
  }
  .film-title{
    font-size:24px;
    line-height: 1.4;
  }

  .film-subtitle{
    margin-bottom: 20px;
  }
  .film-description,.about-film{
    margin-bottom: 30px;
  }

  .card-img{
    width: 70px;
    height: 70px;
  }

  .navigation-link{
    margin-right: 10px;
  }

  .about-text-bold{
    margin-bottom: 10px;
    display: block;
  }

  .card-img{
    width: 100px;
    height: 100px;
  }

  .card{
    flex-basis: 50%;
  }

  .news-card{
    flex-basis: 48%;
    margin-bottom: 20px;
  }

}

@media (max-width:768px) {
  
  .container{
    max-width: 560px;
  }

  .header{
    height: 70px;
  }
  
  .m-menu:active{
    display:flex;
  }

  .m-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 68px;
    height: calc(100%-68px);
    background-color: #5671F6;
  }

  

  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navigation-link{
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .navigation-link:last-child{
    margin-bottom: 0px;
  }

  .sign-up{
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin-bottom: 30px;
  }


  .button-group{
    display: flex;
    height: auto;
    flex-direction: column;
  }  

.search-input{
  margin: 0;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-image: none;
}

  .film-wrapper{
    flex-wrap: wrap;
  }
  .film{
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .film-text{
    order: -1;
    margin-bottom: 30px;
  }

  .cast{
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .news{
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .mobile-buttons{
    display: block;
    margin-left: auto;
  }

  .search-input:focus{
    width: auto;
  }

  .line{
    display: none;
  }

  .header{
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  
}


@media(max-width: 576px){

  .container{
    max-width: 95%;
  }

  .film-title{
    font-size: 20px ;
    line-height: 23px;
    margin-bottom: 12px;
  }

  .film-subtitle{
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
  margin-bottom: 26px;
  }

  .film-description{
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 40px;  
  }

  .about-film{
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .about-text-bold{
    display: inline-block;
  }

  .film-trailer, .poster{
    width: 100%;
  }

  .film-trailer{
    margin-bottom: 30px;
  }

  .film-text{
    order: 1;
    margin-bottom: 0px;
  }

  .card{
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .card-img{
    width: 60px;
    height: 60px;
  }

.tabs{
  margin-bottom: 35px;
}

.cast{
  padding-bottom: 50px;
}

.news-card{
flex-basis: 100%;
}
}